.chat-theme {
  --primary-color: #3c5671;
  --secondary-color: #e9ecef;
  --text-color: white;
  --user-message-bg: #007bff;
  --bot-message-bg: #e9ecef;
}

#chat-icon {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

#chat-icon:before,
#chat-icon:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: solid 3px var(--primary-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#chat-icon.ripple:before {
  animation: ripple 2s linear infinite;
}

#chat-icon.ripple:after {
  animation: ripple 2s 1s linear infinite;
}

@keyframes ripple {
  to {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}

#chat-icon img {
  width: 100%;
  height: auto;
}

#chat-box {
  width: 350px;
  height: 550px;
  position: fixed;
  bottom: 80px;
  right: 2%;
  z-index: 999;
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  /* Initially hidden */
  flex-direction: column;

  /* Start with the chatbox scaled down and fully transparent */
  transform: scale(0);
  opacity: 0;
  transform-origin: bottom right;

  /* Smooth transition for both scale and opacity */
  transition:
    transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

#chat-box.open {
  /* Scale to full size and fully opaque when opened */
  transform: scale(1);
  opacity: 1;
  display: flex;
  /* Ensure display is set to flex when open */
}

#chat-box-header {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
}

#chat-box-body {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}

.chat-message.bot img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-message.bot {
  justify-content: flex-start;
}

.chat-message.bot .message-content {
  background: var(--bot-message-bg);
  border-radius: 15px 15px 15px 0;
  padding: 10px;
  max-width: 95%;
  overflow-x: auto;
  /* To handle large web elements like tables */
}

.chat-message.user {
  justify-content: flex-end;
}

.chat-message.user .message-content {
  background: var(--user-message-bg);
  color: var(--text-color);
  border-radius: 15px 15px 0 15px;
  padding: 10px;
  max-width: 70%;
  order: -1;
}

#chat-box-footer {
  padding: 10px;
  display: flex;
  border-top: 1px solid #ddd;
  position: relative;
}

#options-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

#chat-input {
  flex: 1;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

#send-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

/* Dropdown menu */
#options-dropdown {
  position: absolute;
  top: -35px;
  /* Adjust to fit above the input field */
  left: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-option {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-option i {
  margin-right: 10px;
}

.dropdown-option:hover {
  background-color: var(--secondary-color);
}

/* Typing animation */
.typing-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  margin-left: 10px;
}

.typing-indicator span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: var(--primary-color);
  border-radius: 50%;
  animation: wave 1.5s infinite;
}

.typing-indicator span:nth-child(1) {
  animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-8px);
  }
}

.dot-matrix {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--text-color);
  border-radius: 50%;
}
